<div _ngcontent-c2>

    <div class="sidebar">

    </div>
    <nav _ngcontent-c23 class="navbar navbar-expand-md custom-navbar">
        <div _ngcontent-c23 class="container custom-container">
            <div _ngcontent-c23 class="d-flex justify-content-around align-items-center">
                <i _ngcontent-c23 class="icon bcp-menu-f burger-menu-responsive navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> </i>

                <a _ngcontent-c23="" class="navbar-brand">
                    <img _ngcontent-c23="" alt="LOGO" height="23" src="static/img/navbar/logo.png" width="90">
                </a>
            </div>


            <div _ngcontent-c23="" class="collapse navbar-collapse custom-navbar-collapse" id="navbarSupportedContent">
                <ul _ngcontent-c23="" class="navbar-nav">

                    <!---->
                    <li _ngcontent-c23="" class="nav-item dropdown " ng-class="{active: isActive('/index')}">
                        <a _ngcontent-c23="" class="nav-link" ui-sref="menu">
                                  Inicio {{absUrl}}
                                </a>
                        <!---->
                    </li>
                    <!---->
                    <li _ngcontent-c23="" class="nav-item dropdown" ng-class="{active: isActive('/asistencia')}">
                        <a _ngcontent-c23="" class="nav-link" ui-sref="asistencia">
                                      Asistencia
                                    </a>
                        <!---->
                    </li>
                    <li _ngcontent-c23="" class="nav-item dropdown ng-star-inserted ">
                        <a _ngcontent-c23="" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button" class="nav-link dropdown-toggle" href="">
                                      EMPLEADOS
                                    </a>
                        <!---->
                        <div _ngcontent-c23="" class="dropdown-menu custom-dropdown-menu ng-star-inserted">

                            <!---->
                            <div _ngcontent-c23="" class="ng-star-inserted ">
                                <!----><a _ngcontent-c23="" class="dropdown-item ng-star-inserted" ui-sref="agregar_empleado">
                                         Agregar Empleado
                                        </a>
                            </div>
                            <div _ngcontent-c23="" class="ng-star-inserted">
                                <!----><a _ngcontent-c23="" class="dropdown-item ng-star-inserted" ui-sref="listar_empleado">
                                         Lista de Empleados
                                        </a>
                            </div>
                            <div _ngcontent-c23="" class="ng-star-inserted">
                                <!----><a _ngcontent-c23="" class="dropdown-item ng-star-inserted" ui-sref="Horarios">
                                          Horarios
                                        </a>
                            </div>
                            <div _ngcontent-c23="" class="ng-star-inserted">
                                <!----><a _ngcontent-c23="" class="dropdown-item ng-star-inserted" ui-sref="Reemplazos">
                                          Reemplazos
                                        </a>
                            </div>
                            <div _ngcontent-c23="" class="ng-star-inserted">
                                <!----><a _ngcontent-c23="" class="dropdown-item ng-star-inserted" ui-sref="puestos">
                                              Puestos
                                            </a>
                            </div>

                        </div>
                    </li>

                    <li _ngcontent-c23="" class="nav-item dropdown" ng-class="{active: isActive('/adelanto')}">
                        <a _ngcontent-c23="" class="nav-link" ui-sref="adelanto">
                                          Adelantos
                                        </a>
                        <!---->
                    </li>
                    <!---->
                    <li _ngcontent-c23="" class="nav-item dropdown" ng-class="{active: isActive('/nsueldos')}">
                        <a _ngcontent-c23="" class="nav-link" ui-sref="nsueldos">
                                  Nómina de sueldos
                                </a>
                        <!---->
                    </li>
                    <!---->
                    <li _ngcontent-c23="" class="nav-item dropdown ng-star-inserted">
                        <a _ngcontent-c23="" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button" class="nav-link dropdown-toggle" href="">
                                          SERVICIOS
                                        </a>
                        <!---->
                        <div _ngcontent-c23="" class="dropdown-menu custom-dropdown-menu ng-star-inserted">

                            <!---->
                            <div _ngcontent-c23="" class="ng-star-inserted">
                                <!----><a _ngcontent-c23="" class="dropdown-item ng-star-inserted" ui-sref="ListaServicios">
                                            Lista de Servicios
                                            </a>
                            </div>


                        </div>
                    </li>

                </ul>
            </div>

            <div _ngcontent-c23 class="d-flex flex-row">
                <div _ngcontent-c23="" class="avatar dropdown" clickoutside="">
                    <div _ngcontent-c23="" aria-haspopup="true" class="dropdown-toggle user-b" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img _ngcontent-c23="" alt="" class="pointer" height="32" src="static/img/navbar/user-b.svg" width="32">
                        <div _ngcontent-c23="" aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <div _ngcontent-c23="" class="avatar-content d-flex align-items-center pa-16">
                                <div _ngcontent-c23="" class="custom-avatar-content">
                                    <img _ngcontent-c23="" alt="" class="avatar-img" height="64" src="static/img/navbar/big-avatar.svg" width="64">
                                    <!-- <div _ngcontent-c23="" class="custom-avatar-content-overlay">
                                        <div _ngcontent-c23="" class="custom-avatar-content-text">Cambiar</div>
                                    </div> -->
                                </div>
                                <div _ngcontent-c23="" class="pl-16 bb-line">
                                    <div _ngcontent-c23="" class="avatar-user-name">ADMIN</div>
                                    <!-- <div _ngcontent-c23="" class="edit-name" tabindex="0">Editar perfil</div> -->
                                </div>
                            </div>
                            <div _ngcontent-c23="" class="avatar-content">
                                <ul _ngcontent-c23="" class="avatar-items">
                                    <li _ngcontent-c23="" class="dropdown-item" tabindex="0" ui-sref="config"><i _ngcontent-c23="" class="icon bcp-screw-o mr-8"></i> Configuración</li>
                                    <!-- <li _ngcontent-c23="" class="dropdown-item" tabindex="0"><i _ngcontent-c23="" class="icon bcp-lock-o mr-8"></i> Seguridad</li> -->
                                </ul>
                                <!-- <div _ngcontent-c23="" class="last-connection pa-16">
                                    <span _ngcontent-c23="">Último acceso:</span>
                                    <span _ngcontent-c23="">25/10/2019 09:35 PM</span>
                                </div> -->
                            </div>


                            <div _ngcontent-c23="" class="d-flex align-items-center pa-16 pointer avatar-menu-base dropdown-item" ui-sref="exit()">

                                <i _ngcontent-c23="" class="icon bcp-sign-in-f mr-8"></i><span _ngcontent-c23="">Salir</span>




                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</div>